<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" id="youtube-search">
    <button onclick="ytSearch()">Search</button>

    <div class="thumbnail-wrapper"></div>
    <div class="iframe-wrapper"></div>

  </body>
</html>
