<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
	<!-- <script type="text/javascript" src="javascripts/jquery.event.drag-2.0.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> -->
  <!-- <script type="text/javascript" src="javascripts/script.js"></script> -->
  <title>You Laugh You Lose</title>
</head>
<body>
  <article id="canvasContainer">
  </article>

  <!-- Required scripts -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.event.drag-2.0.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>